.header{
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6533, #f63f2e);
}

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
    

}

.header__navbar-item{  
    margin: 0 8px;
    position: relative;
    min-width: 26px;
}

.header__navbar-user{
    display: flex;
    justify-items: center;
    position: relative;
}

.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}

.header__navbar-user-img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-name{
    margin-left: 4px;
    font-size: 1.5rem;
    font-weight: 400;
}

.header__navbar-user-menu{
    position: absolute;
    padding-left: 0;
    width: 160px;
    top: calc(100% + 7px);
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0; 
    font-weight: 500;
    display: none;
}

.header__navbar-user-menu::before{
    content: "";
    border-width: 18px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 1px;
    top: -28px;
}

.header__navbar-user-menu::after{
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 45%;
    height: 8px;
}

.header__navbar-user-item{

}

.header__navbar-user-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 8px 16px;
}

.header__navbar-user-item a:hover{
    color: #00bfa5;
    background-color: #FAFAFA;
}

.header__navbar-user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item--separate{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-item-has-qr:hover .header__qr{
    display: block;
}

.header__navbar-item--has-notify:hover .header__notify{
    display: block;
    z-index: 1;
}

.header__navbar-item, 
.header_navbar-item-link{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none; 
    font-weight: 400;    
}

.header__navbar-item, 
.header_navbar-item-link,
.header_navbar-icon-link{
    display: flex;
    align-items: center;
    z-index: 2;
}

.header__navbar-item:hover,
.header_navbar-item-link:hover,
.header__navbar-icon-link:hover{
    color: hsla(0,0%,100%,.7);
    cursor: pointer;
}


.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: -10px;
    height: 15px;
    border-left: 2px solid rgba(255, 255, 255, 0.3);
    transform: translateY(-50%);
}

.header__navbar-icon-link{
    text-decoration: none;
    color: var(--white-color);
}

.header__navbar-icon{
    font-size: 1.7rem;
    margin: 0 4px;

}
.header__navbar-item-title--no-poiter{
    cursor: text;
    color: var(--white-color);
}


/* Header QR */



.header__qr{
    width: 186px;
    position: absolute;
    background-color: var(--white-color);
    left: 0;
    top: 118%;
    padding: 4px;
    margin-top: 11px;
    border-radius: 2px; 
    display: none;
}

.header__qr::before{
    width: 100%;
    position: absolute;
    display: block;
    top: -20px;
    left: 0;
    height: 20px;   
    content: "";
}

.header__qr-link{
    text-decoration: none;
}

.header__qr-apps{
    /* display: flex;
    justify-content: space-between; */

}

.header__qr-img{
    width: 100%;
}

.header__qr-donwload-img{
    height: 15px;
    width: 70px;
    margin-left: 8px;
    margin-bottom: 4px;
}

/* header notify */
.header__notify{
    top: 155%;
    width: 404px;
    position: absolute;
    right: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotiGrowth ease-in 0.25s;
    will-change: opacity, transform;
    display: none;
    border-radius: 2px;
}

.header__notify::before{
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 1px;
    top: -28px;
}

.header__notify::after{
    content: "";
    position: absolute;
    display: block;
    top: -16px;
    right: 0;
    width: 90px;
    height: 15px;
}


/* header with search */
.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
    
}   

.header__logo{
    width: 200px;
    
}

.header__logo-link{
    color: transparent;
    text-decoration: none;
}

.header__logo-img{
    width: 150px;
}

.header__search{
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.header__cart{
    width: 150px;
    text-align: center;
    margin-top: 6px;
}

.header__cart-wrap{
    position: relative;
    padding: 0 8px;
    display: inline-block;
    cursor: pointer;

}


.header__cart-icon{
    font-size: 2rem;
    color: var(--white-color);
}

.header__cart-wrap:hover .header__cart-list{
    display: block;
}

.header__cart-list{
    position: absolute;
    top: calc(100% + 12px);
    right: -14px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px; 
    box-shadow: 0 1px 3.125rem rgba(0 ,0 ,0 ,0.2);  
    display: none;
    animation: fadeIn ease-in 0.2s; 
    cursor: default;
    z-index: 2;
}

.header__cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    height: 46vh;
    overflow-y: auto;
}

.header__cart-item{
    display: flex;
}

.header__cart-item:hover{
    background-color: #F8F8F8;
}

.header__cart-img{
    width: 40px;
    height: 40px;
    margin: 12px;
    border: 1px solid #E8E8E8;
}

.header__cart-item-info{
    width: 100%;
}

.header__cart-item-head{
    display: flex;
    align-items: center;
    margin-right: 4px;
    justify-content: space-between;

}

.header__cart-item-name{
    flex: 1;
    text-align: left;
    align-items: top;
    font-size: 1.4rem;
    font-weight: 500;
    height: 2rem;
    overflow: hidden;
    color: var(--text-color);
    line-height: 2rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    padding-right: 20px;

}

.header__cart-item-price{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary-color);
}

.header__cart-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px

}

.header__cart-footer-description{
    line-height: 1.4rem;
    font-size: 1.3rem;
    color: var(--text-color);
}

.header__cart-view:hover{
    background-color: #F05D41;
}

.header__cart-list::after{
    cursor: pointer;
    content: "";
    position: absolute;
    right: 12px;
    top: -28px;
    border-style: solid;
    border-width: 16px 20px;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list--no-cart{
    padding: 28px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg{
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}

.header__cart-no-cart-img{
    width: 50%;
    display: none;

}

.header__cart-list-no-cart-msg{
    display: none;
    /* display: block; */
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}

.header_cart-notice{
    position: absolute;
    top: -12px;
    right: -8px;
    padding: 1px 6px;
    font-size: 1.4rem;
    border-radius: 10px;
    border: 2px solid #EE4D2D;
    line-height: 1.4rem;
    color: var(--primary-color);
    background-color: var(--white-color);
    
}

.header__search-input-wrap{
    flex: 1;
    position: relative;
}

.header__search-input{
    
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-selection{
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
    
}

.header__search-select-lable{
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon{
    font-size: 1.4rem;
    color: #4A4A4A;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1;
}

.header__search-btn{
    border: none;
    background-color: var(--primary-color);
    height: 34px;
    width: 60px;
    outline: none;
    border-radius: 2px;
    margin-right: 3px;
}

.header__search-btn:hover{
    cursor: pointer;
    background-color: #ec593c;
}

.header__search-btn-icon{
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-selection:hover .header__search-option{
    display: block;
}

.header__search-option{
    position: absolute;
    right: 0;
    top: 20px;
    width: 130px;
    list-style: none;
    box-shadow: 0 0 3px #ccc;
    padding-left: 0;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s; 
    z-index: 1;
    
}

.header__search-option::after{
    content: "";
    display: block;
    width: 100%;
    height: 16px;
    position: absolute;
    top: -12px;
    left: 0;
}

.header__search-option-item{
    
    padding: 8px 8px;
    background-color: var(--white-color);   
}

.header__search-option-item:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option-item:last-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option-item:hover{
    background-color: #FAFAFA;
    cursor: pointer;
}

.header__search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i{
    margin-left: 12px;
    font-size: 1.2rem;
    color: var(--primary-color);
    display: none;
}

.header__search-option-item--active i{
    display: inline-block;
}      

@keyframes headerNotiGrowth{
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}

.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    text-transform: capitalize;
    cursor: text;
    user-select: none;
}

.header__notify-list{
    padding-left: 0;
}

.header__notify-item{
    display: flex;
}

.header__notify-item:hover{
    background-color: #f8f8f8;
}

.header__notify-item--viewed{
    background-color: rgba(238,75 ,43 ,0.08);
}


.header__notify-link{
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;  
}

.header__notify-img{
    width: 48px;
    object-fit: contain;
}

.header__notify-info{
    margin-left: 12px;
}

.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
    
    line-height: 1.8rem;

}

.header__notify-description{
    display: block;
    font-size: 1.2rem;
    color: #8e8785;
    line-height: 1.6rem;
    margin-top: 4px;
}


.header__notify-footer{
    display: flex;
}

.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 0;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}

/* Authen modal */
.auth-form{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
}

.auth-form__container{
    padding: 0 32px;
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 12px;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.auth-form__switch-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}
.auth-form__form{
    margin-top: 16px;
}
.auth-form__group{

}
.auth-form__input{
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
}

.auth-form__input:focus{
    border-color: #888;
}

.auth-form__aside{
    margin-top: 20px;
    
}
.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}
.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color);
}   

.auth-form__control{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__control-back{
    margin-right: 8px;
}
.auth-form__socials{
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}


.auth-form__socials-icon{
    font-size: 1.8rem;

}

.auth-form__socials--facebook{
    color: var(--white-color);
    background-color: #3A5A98;
}

.auth-form__socials--facebook
.auth-form__socials-icon{
    color: var(--white-color);
}

.auth-form__socials--google
{   
    color: #666;
    background-color: var(--white-color);

}

.auth-form_socials-title{
    margin: 0 36px;
}


.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help-separate{
    display: block;
    height: 22px;
    margin: -3px 16px 0;
    border-left: 1px solid #EAEAEA;
}

.auth-form__help-forgot{
    color: var(--primary-color);
}


.header__search-input:focus ~ .header__search-history{
    display: block;
}
/* Search history */

.header__search-history{
    position: absolute;
    top: calc(100% + 12px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(189, 189, 189);
    display: none;
    overflow: hidden;
    z-index: 2;
}

.header__search-history-heading{
    margin: 10px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;

}

.header__search-history-item{
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover{
    background-color: #FAFAFA;
}

.header__search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 8px 0;
    line-height: 38px;
    display: block;
}


/* App container */

.app__container{
    background-color: #F5F5F5;
}

.app__content{
    padding-top: 36px;
}

.category{
}

.category__heading{
    font-size: 1.7rem;
    color: var(--text-color);
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 0;
}


.category__heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list{
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 10px;
    
}

.category-item{

}

.category-item--active .category-item__link{
    color: var(--primary-color);
}

.category-item--active .category-item__link::before{
    content: "";
    top: 50%;
    left: 4px;
    position: absolute;
    border: 4px solid;
    transform: translateY(calc(-50% - 1px));
    border-color: transparent transparent transparent var(--primary-color);

}

.category-item__link{
    position: relative;
    display: block;
    font-size: 1.5rem;
    padding: 8px 16px;
    color: var(--text-color);
    text-decoration: none;
    /* khai bao chuyen dong */
    transition: right linear 0.1s;
    right: 0;
}

.category-item__link:hover{
    right: -4px;
    color: var(--primary-color);
}

/* Home sort + filter */

.home-filter{
    display: flex;
    align-items: center;
    border-radius: 2px;
    padding: 12px 22px;
    background-color: rgba(0 ,0 ,0 ,0.04);
}

.home-filter__label{
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-filter__btn{
    min-width: 90px;
    margin-right: 12px;
}

.home-filter__page{
    display: flex;
    align-items: center;
}

.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px; 
}

.home-filter__page-current{
    color: var(--primary-color);
}

.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}
.home-filter__page-btn{
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-filter__page-btn--disabled{
    background-color: #F9F9F9;
    cursor: default;
}

.home-filter__page-btn--disabled .home-filter__page-icon{
    color: #ccc;
}

.home-filter__page-btn:first-child{
    border-right: 1px solid #eee;
}

.home-filter__page-icon{
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}


/* Product item */

.home-product-item{
    display: block;
    position: relative;
    margin-top: 10px;
    background-color: var(--white-color);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    border-radius: 2px;
    transition: tranform linear 0.1s;
    will-change: tranform;
    text-decoration: none;
}

.home-product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0,0,0,.05);
}

.home-product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name{
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.4rem;
    height: 2.9rem;
    margin: 10px 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.home-product-item__saleon{
    color: #ee4d2d;
    border-color: #ee4d2d;
    height: 16px;
    width: 86px;
    /* display: inline-block; */
    line-height: 100%;
    margin: -5px 0px 12px 9px;
    box-sizing: border-box;
    border: 0.0625rem solid;
    border-radius: 0.0625rem;
    padding: 0.25rem 0.25rem;
    background-color: transparent;
    font-size: 1rem;
}

.home-product-item__price{
    display: flex;
    margin-left: 10px;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old{
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}

.home-product-item__price-current{
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 4px;
}

.home-product-item__evaluate{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0;
    padding-bottom: 12px;
}

.home-product-item__rating{
    color: #ffce3d;
    font-size: 0.925rem;
    transform-origin: left;
}

.home-product-item__selling{
    font-size: 1.3rem;
}   

.home-product-item__favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;

} 

.home-product-item__favourite::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}


.home-product-item__text{
    margin-left: 4px;
    color: var(--white-color);
    margin-right: -2px;
}

.home-product-item__favourite i{
    font-size: 0.8rem;
    color: var(--white-color);
    position: relative;
    top: -2px;
}

.home-product-item__sale-off{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.94);
}

.home-product-item__sale-off::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    border-width: 0 20px 6px;
    border-style: solid;
    color: rgba(255, 216, 64, 0.94);
    border-color: transparent currentColor transparent currentColor;
}

.home-product-item__sale-off-percent{
    color: #EE4D2D;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 2px;
    position: relative;
    top: 2px;
}

.home-product-item__sale-off-label{
    color: var(--white-color);
    font-size: 600;
    font-size: 1.3rem;
}

.home-product__pagination{
    margin: 48px 0 150px 0;
}

/*  fotter */

.footer{
    min-width: 75rem;
    border-top: 4px solid #ee4d2d;
    background-color: #fff;
    color: rgba(0,0,0,.54);
}

.footer__contaier{
    padding-bottom: 1.875rem;
    border-bottom: 1px solid rgba(0,0,0,.09);
    width: 1200px;
    margin: 0 auto;
    margin-top: 8rem;
}


.footer__heading{
    margin-top: 4rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: rgba(0,0,0,.87);
    text-transform: uppercase;
    padding-bottom: 4px;
}

.footer-list{
    list-style: none;
    padding-left: 0;
}

.footer-item{
    max-width: 100%;
    margin-bottom: 0.9rem;
    
}

.footer-item__link{
    text-decoration: none;
    font-size: 1.2rem;
    color: rgba(0,0,0,.65);
}

.footer-item__link:hover{
    color: var(--primary-color);
}

.footer-list-img{
    list-style-type: none;
    padding: 0;
    margin: 0 0 1rem;
    flex-wrap: wrap;
    display: flex;
}

.footer-item__img{
    width: 60px;
    height: 30px;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.25rem;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 0.125rem;
}

.footer-item__img--style{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
}

.footer-item__img--logo{
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
}


.footer-item__icon-link{
    text-decoration: none;
    display: flex;
    margin-bottom: 1rem;
}

.footer-item__icon-img{
    margin-right: 8px;
}

.footer-item__icon-name{
    text-decoration: none;
    font-size: 1.2rem;
    color: rgba(0,0,0,.65);
}

.footer-item__icon-name:hover{
    color: var(--primary-color);
}

.footer__download{
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
}

.footer__download-qr{
    height: 9rem;
    width: 9rem;
    margin-right: 0.75rem;
    padding: 0.25rem;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    border-radius: 2px;
}

.footer__download-apps{
}

.footer__download-app-img{
    width: 68px;
    height: 16px;
    margin-bottom: 1.2rem;
}

.footer_download-qr-code{
    text-decoration: none;
}


.footer-download__link{
    text-decoration: none;
}


/* footer info */

.footer__info{
    display: flex;
    justify-content: space-between;
    color: rgba(0,0,0,.54);
    padding: 40px 0;
    width: 1200px;
    border-top: 1px solid rgba(0,0,0,.1);
    line-height: 1.5rem;
}

.footer__info-license{
    font-size: 1.4rem;
}

.footer__info-address{
    display: flex;
    font-size: 1.4rem;
    justify-content: center;
}

.footer__info-address-label{
    font-size: 1.4rem;
    margin-right: 4px;
}

.footer__info-address-link{
    padding: 0 5px;
}

.footer__info-address-link:not(:last-child) {
    border-right: 0.5px solid rgba(0,0,0,.2);
}

@media (-webkit-min-device-pixel-ratio: 2),(min-resolution:2dppx) {
    .footer__info-address-link:not(:last-child) {
        border-right:.5px solid rgba(0,0,0,.2)
    }
}



.footer__info-address-link--area{
    text-decoration: none;
    color: rgba(0,0,0,.54);
}

.footer__policy{
    margin: 0 auto;
    padding: 3rem 0 3rem;
    
}

.footer__policy-info{
    display: flex;
    justify-content: center;
}

.footer__policy-info-label{
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.footer__policy-info-label:not(:last-child) {
    border-right: 1px solid rgba(0,0,0,.09);
}


.footer__policy-info-label--link{
    text-decoration: none;
    display: block;
    color: rgba(0,0,0,.54);
}


.footer__policy-info-icon{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.footer__policy-link{
    margin-right: 36px;
}

.footer__policy-img{
    width: 125px;
    height: 38px;
}


.footer__policy-img--icon{
    width: 50px;
    height: 50px;
}


.footer__policy--own{
    display: block;
    width: 100%;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 0.5rem;
}

.mb{
    margin-bottom: 24px;
}